#navbarText{

    justify-content: right;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#verd{
    color: rgb(3, 187, 3) !important;
}




a{
    color: blue;
}
.navbar {
background-color: rgb(70, 69, 69) !important;}

.navbar li a{
    color: rgb(180, 178, 178) !important;

}
.navbar li a:hover{
    color: white !important;

}
#codo{

    height: 50px;
    padding-left: 105px;
}
#conf{
    color:white ;
}
.container-fluid{
    background-image:url(../img/ba1.jpg);
    height: 500px;
    max-width:auto;
}
#conoce{
    padding-left: 45%;
    padding-top: 10px;
}
#textoBlanco{
    color: white;
    position:absolute;
    padding-top: 50px;
}

.card-footer{
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-color: white;
    border-right-color: blue;
}

#conteinerTextoBlanco{

    position: relative;
}



/*---------- tickets*/
.card {
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    border-style:solid;

       
}
.pD{

    color:grey; font-size: 0.8rem;
}


.uno{
    border-color:rgb(0, 0, 245);
}
.dos{
    border-color:rgb(3, 248, 24);
}
.tres{
    border-color:rgb(255, 238, 6);

}

#totalPagar{
    background-color: rgba(46, 144, 248, 0.651);
    padding: 15px;
    color:white;
    margin-top: 20px;
}